@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400&display=swap");
body, ul {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.text {
  color: grey;
  font-size: 16px;
  line-height: 28px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  padding: 0 10px; }

.about {
  align-items: center;
  margin: 100px auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 1300px; }
  .about .about__img {
    margin: 20px; }
    .about .about__img img {
      width: 100%;
      margin: 0px; }
  .about .about__text {
    padding: 0 20px; }

@media screen and (min-width: 1200px) {
  .about {
    flex-direction: row-reverse; }

  .about__img img {
    height: 400px;
    min-width: 625px; } }
